<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>facebook</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8386e4">  <td>15/11/20 23:25:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractSeleniumTestCase.beforeTest()[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@12e37fe5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>PoolService-0@1181279865</td>   <td></td> </tr>
<tr bgcolor="8386e4">  <td>15/11/20 23:25:54</td>   <td>381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractSeleniumTestCase.seleniumTestCase(com.selflearn.support.dataprovider.ExcelData)[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@12e37fe5]">seleniumTestCase</td> 
  <td>PoolService-0@1181279865</td>   <td></td> </tr>
<tr bgcolor="8386e4">  <td>15/11/20 23:25:54</td>   <td>384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractSeleniumTestCase.seleniumTestCase(com.selflearn.support.dataprovider.ExcelData)[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@12e37fe5]">seleniumTestCase</td> 
  <td>PoolService-0@1181279865</td>   <td></td> </tr>
</table>
