<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66d39a">  <td>15/11/16 21:08:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractSeleniumTestCase.beforeTest()[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@6aaa5eb0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>PoolService-0@405211396</td>   <td></td> </tr>
<tr bgcolor="66d39a">  <td>15/11/16 21:08:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractSeleniumTestCase.beforeTest()[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@6aaa5eb0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>PoolService-0@405211396</td>   <td></td> </tr>
<tr bgcolor="66d39a">  <td>15/11/16 21:08:31</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractSeleniumTestCase.seleniumTestCase(com.selflearn.support.dataprovider.ExcelData)[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@6aaa5eb0]">seleniumTestCase</td> 
  <td>PoolService-0@405211396</td>   <td></td> </tr>
<tr bgcolor="66d39a">  <td>15/11/16 21:08:31</td>   <td>412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractSeleniumTestCase.seleniumTestCase(com.selflearn.support.dataprovider.ExcelData)[pri:0, instance:com.selflearn.automation.testapplication.FaceBook@6aaa5eb0]">seleniumTestCase</td> 
  <td>PoolService-0@405211396</td>   <td></td> </tr>
</table>
